Makefile
Makefile.in
config.*
configure
dependencies.m4
aclocal.m4
autom4te.cache
depcomp
install-sh
missing
mkinstalldirs
libtool
dune-grid.pc
semantic.cache
configure.lineno
stamp-h1
dune-grid-*.tar.gz
dune-grid-?.?
ltmain.sh
am
.libs/
.deps/
*.la
*.lo
*.o
compile
test-driver
build-*/
