---
include:
  - "https://gitlab.dune-project.org/core/ci-config/raw/master/config/common/releases/2.6.yml"
  - "https://gitlab.dune-project.org/core/ci-config/raw/master/jobs/common/releases/2.6.yml"

before_script:
  - . /duneci/bin/duneci-init-job
  - duneci-install-module https://gitlab.dune-project.org/core/dune-common.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-geometry.git
  - duneci-install-module https://gitlab.dune-project.org/staging/dune-uggrid.git
