Makefile
Makefile.in
.deps
.libs
test-alugrid
test-alberta
test-geogrid
test-sgrid
test-oned
test-ug
test-parallel-ug
test-yaspgrid
test-dgfalu-uggrid-combination
test-ug-lgm
semantic.cache
alugrid.cfg
*.gcda
*.gcno

*.dgf.*
*.log
*.swp
*.vtu
