Makefile
Makefile.in
.deps
.libs
test-alu2dsimplex
test-alu3dsimplex
test-alu3dgrid
test-alberta
test-sgrid
test-oned
test-ug
test-parallel-ug
test-yaspgrid
test-dgfalu-uggrid-combination
test-ug-lgm
semantic.cache
*.gcda
*.gcno

*.dgf.*
*.log
*.swp
